<div class="container mt-4">
  <!-- Lien vers le formulaire driven -->
  <a [routerLink]="['/add-product']" class="btn btn-success mt-2 me-2">Ajouter Produit</a>
  
  <!-- Lien vers le formulaire reactive -->
  <a [routerLink]="['/add-product-reactive']" class="btn btn-warning mt-2">Ajouter Produit</a>

  <!-- Liste des produits -->
  <div class="row mt-4">
    <div class="col-md-4 d-flex align-items-stretch mb-4" *ngFor="let product of list">
      <div class="card w-100">
        <img [src]="product.image" [alt]="product.name" class="card-img-top img-fluid">
        <div class="card-body text-center">
          <h3 class="card-title">{{ product.name }}</h3>
          <h4 class="card-text">{{ product.price | currency:'EUR' }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
